:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --font: "Roboto", sans-serif;
  --color-primary: #000000;
  --color-secondary: #ffffff;
  --color-third: #008BFE;
  --color-third--invert: #6C38CC;
  --color-score: #008BFE;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: var(--font), serif;
  color: var(--color-secondary);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: grid;
  place-items: center;
  min-height: 100vh;
  background: #f0f4f8;
}

.status-icon-sm{
  --status-icon-size: 20px;
}

.status-icon-lg{
  --status-icon-size: 40px;
}

